.list-group-item.active {
    background-color: #000000; /* Change to your desired gray color */
}
.list-group-item:focus {
    outline: none;
}
.list-group-item {
    border-color: #000000; /* kenarlık rengi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border: none; /* Kenarlığı kaldırır */
    cursor: pointer; /* Fare imleci el olduğunda kullanıcıya etkileşim olduğunu belirtir */
}

.list-group-item {
    text-align: center;
    border-color: #000000;
}
.btn-primary {
    border-color: #000000;
}
.btn-danger {
    
    border-color: #fae0e0;
}

.list-group-item.active {
    border-color: #000000; /* kenarlık rengi */
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

h2 {
    display: block;
    color: white;
    font-weight: 300;
    text-align: center;
}

.credit-card {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   height: 270px; /* Kartın boyutunu azaltmak için min-height değerini düşürdük */
    margin: 0 auto; /* Kartın sayfa ortasında olmasını sağlar */
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px; /* Metin boyutunu azalttık */
    background: #2b2b2b;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Kenarlık rengini ayarladık */
    border-radius: 0.5rem;
    padding: 1rem;
    width: 400px; /* Kartın genişliğini ayarladık */

    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    background: #2b2b2b;
    background-position: center center;
    background-size: 200%;
    background-image: url(https://images.unsplash.com/photo-1457062673746-3c8d0b60aa44?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-blend-mode: multiply;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.35rem;

    grid-template-areas:
        "provider . . ."
        "number number number number"
        "good-through-label good-through-value . validity"
        "holder holder holder select";

    > .provider {
        grid-area: provider;
    }

    > .number {
        grid-area: number;
    }

    > .good-through-label {
        grid-area: good-through-label;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        font-size: 0.65rem;
    }

    > .good-through-value {
        grid-area: good-through-value;
    }

    > .holder {
        grid-area: holder;
    }

    > .validity {
        grid-area: validity;
        border: 1px solid #44a333;
        font-size: 1rem;
        background: #57c443 linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.5);
    }

    > .select {
        grid-area: select;
        background: #2ca7d8 linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25) 100%);
        border: 1px solid #1482ce;
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 1rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.5);
        transition: box-shadow 250ms, transform 250ms;

        &:active {
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
            transform: translate(-1px, -1px);
        }
    }
}
